:root {
  --background-card: #fafaf9;
  --label-text-color: #6e7a7c;
  --disabled-button: #44595e;
  --disabled-text: #5c767d;
  --button: #46737c;
  --input-focus: #84acb3;
  --border-asigned: #008cff;
  --border-not-asigned: #d8d8d892;
  --border-completed: #003ce2;
  --border-not-completed: #3dc000;
}
